<div>
    <h2>Editar Empresa</h2>
    <form (ndSubmit)="updateCompany()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="company.name">
        </div>

        <div class="form-group">
            <label for="cnpj">CNPJ</label>
            <input type="text" name="cnpj" class="form-control" [(ngModel)]="company.cnpj">
        </div>

        <div class="form-group">
            <label for="adress">Endereço</label>
            <input type="text" name="adress" class="form-control" [(ngModel)]="company.adress">
        </div>

        <div class="form-group">
            <label for="complement">Complemento:</label>
            <input type="text" name="complement" class="form-control" [(ngModel)]="company.complement">
        </div>

        <div class="form-group">
            <label for="number">Número</label>
            <input type="text" name="number" class="form-control" [(ngModel)]="company.number">
        </div>
        
        <button class="btn btn-dark btn-md" type="submit">Atualizar</button>
    </form>
</div>
